<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.woohyman.emulator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name="com.woohyman.xml.ui.NesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.woohyman.xml.gamegallery.NesGalleryActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="nostalgia.nes.GALLERY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.woohyman.xml.emulator.NesEmulatorActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name="com.woohyman.xml.ui.preferences.GeneralPreferenceActivity"
            android:exported="true"
            android:label="@string/general_pref"
            android:theme="@style/PrefTheme">
            <intent-filter>
                <action android:name="nostalgia.nes.GENERALPREF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.woohyman.xml.ui.preferences.KeyboardSettingsActivity"
            android:exported="true"
            android:label="@string/key_pref"
            android:theme="@style/PrefTheme">
            <intent-filter>
                <action android:name="nostalgia.nes.KEYBOARDPREF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.woohyman.xml.ui.preferences.TouchControllerSettingsActivity"
            android:exported="true"
            android:label="@string/game_pref"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="nostalgia.nes.TOUCHPREF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.woohyman.xml.ui.preferences.ScreenViewPortSettingsActivity"
            android:exported="true"
            android:label="@string/game_pref"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="nostalgia.nes.SCREENPREF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.woohyman.xml.ui.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.woohyman.xml.gamegallery.SlotSelectionActivity" />

        <activity
            android:name="com.woohyman.xml.ui.preferences.GamePreferenceActivity"
            android:label="@string/game_pref"
            android:theme="@style/PrefTheme" />

        <activity
            android:name="com.woohyman.xml.ui.cheats.CheatsActivity"
            android:label="Cheats" />

        <activity android:name="com.woohyman.xml.ui.opengl.OpenGLTestActivity" />

        <activity
            android:name="com.woohyman.xml.ui.preferences.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.woohyman.xml.ui.control.RestarterActivity"
            android:configChanges="orientation|screenSize"
            android:process=":restarter" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>